.bodySize {
    width: 100%;
    margin: auto;
}

.chooseTypeCards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.innerDiv{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

@media all and (max-width: 768px) {
    .chooseTypeCards {
        width: 90%;
    }
}